{% extends "base.html" %}
{% block content %}
<h2>{{ user.name }}’s Course History</h2>

{% for semester, courses in user.course_history.items() %}
    <details>
        <summary><strong>{{ semester }}</strong></summary>
        <ul>
            {% for course in courses %}
                <li><strong>{{ course.code }}</strong>: {{ course.title }} 
                    {% if course.grade %}- Grade: {{ course.grade }}{% endif %}
                </li>
            {% endfor %}
        </ul>
    </details>
{% endfor %}

{% endblock %}

