{% extends "base.html" %}
{% block title %}My Semester Plan{% endblock %}

{% block content %}
<h2>My 4-Year Semester Plan</h2>

{% for number, courses in plan.items() %}
<details {% if loop.index == 5 or loop.first %}open{% endif %}>
    <summary><strong>Semester {{ number }}
        {% if number == 1 %}(Freshman Fall){% elif number == 2 %}(Freshman Spring)
        {% elif number == 3 %}(Sophomore Fall){% elif number == 4 %}(Sophomore Spring)
        {% elif number == 5 %}(Junior Fall){% elif number == 6 %}(Junior Spring)
        {% elif number == 7 %}(Senior Fall){% elif number == 8 %}(Senior Spring){% endif %}
    </strong></summary>
    <ul>
        {% for course in courses %}
        <li>{{ course }}</li>
        {% endfor %}
    </ul>
</details>
<br>
{% endfor %}
{% endblock %}

